Rescate/ejemplos/.ipynb_checkpoints/
Ejemplosbasicos/__pycache__/
Ejemplosbasicos/.ipynb_checkpoints/
*.zip
.ipynb_checkpoints/
.vscode/
66 Ejercicios para ir pasando.ipynb
Ejemplos basicos/funciones.py
